@{
    ViewData["Title"] = "Home Page";
}

<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=divice-width" />
    <title></title>
</head>
<body>
    <div class="p-0 bg-info">
        <div class="container">
            <p class="text-center">Student management</p>
        </div>
    </div>
</body>
</html>
